@tailwind base;
@tailwind components;
@tailwind utilities;





*::-webkit-scrollbar {
    background: lightgray;
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: gray;
}


.ql-container {
    min-height: 300px !important;
    max-height: 600px !important;
    overflow-y: auto !important;
}